
{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<footer class="py-3 my-4 border-top">
  <ul class="nav justify-content-center">
    {%- for path in page_paths -%}
    {%- assign my_page = site.pages | where: "path", path | first -%}
    {%- if my_page.title -%}
    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
  <p class="text-center text-body-secondary">© 2024 {{ site.title }}</p>
</footer>