<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-2 fw-bold text-body-emphasis text-uppercase">Get the news</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Sign-up to "Look through the window"</p>
    <p class="mb-2">We have a newsletter which we use as a window. It is a window through which we can bring news to you on how your donations are used and to share something of life in Ukraine.  It is also a window through which you can learn about what is going on nearer to home in support of Ukraine and its people. Please sign up to look through this window.</p>
    <a class="btn btn-dark rounded-0" target="_blank" href="http://eepurl.com/h4mrHj">Link to the Newsletter</a>
  </div>
</div>